{% extends 'main/index.html' %}


{% block title %}Статистика поставок{% endblock %}

{% block content %}

    <div class="features">
         <div class="top-befor-header">
            <h1>Статистика поставок</h1>
        </div>
        <div class='filter-data'>
            <form action="" class="big-filter-form" method="POST" id="ytr">
                {% csrf_token %}
                <label for="datestart">
                    <span>От</span><br>
                    <input type="date" name="datestart" id="datestart">
                </label>
                <label for="datefinish">
                    <span>До</span><br>
                    <input type="date" name="datefinish" id="datefinish">
                </label>
                
                <label for="article_filter">
                    <span>Артикул продавца</span><br>
                    <input type="text" name="article_filter" id="article_filter">
                </label>

                <div class="inner-form-data">
                    <br>
                    <input type="Submit" id="filter" name="submit" value="Фильтровать" class="custom-button-change"/>
                </div>
            </form>
        </div>
        <div class='import-excel'>
            <br>
            {#<form action="" id="export" name="export_xls" method="GET">#}
            {#    {% csrf_token %}#}
            {#    <button type="submit" name="export" class="custom-button-change">#}
            {#        Импортировать в Excel#}
            {#    </button>#}
            {#</form>#}
        </div>
        <div class="table_wrapper">
            <table name="mytable" class="sortable" style="white-space: nowrap">
                <tr>
                    <th>ID поставки</th>
                    <th>Номер УПД</th>
                    <th>Дата поставки</th>
                    <th>Дата обновления</th>
                    <th>Артикул продавца</th>
                    <th>Размер товара</th>
                    <th>Баркод</th>
                    <th>Количество</th>
                    <th>Цена из УПД</th>
                    <th>Дата принятия в WB</th>
                    <th>Название склада</th>
                    <th>Артикул WB</th>
                    <th>Текущий статус поставки</th>
                </tr>
                {% for el in data %}   
                <tr>
                    <td>{{ el.income_id }}</td>
                    <td>{{ el.number }}</td>
                    <td>{{ el.delivery_date }}</td>
                    <td>{{ el.last_change_date }}</td>
                    <td>{{ el.supplier_article }}</td>
                    <td>{{ el.tech_size }}</td>
                    <td>{{ el.barcode }}</td>
                    <td>{{ el.quantity }}</td>
                    <td>{{ el.total_price }}</td>
                    <td>{{ el.date_close }}</td>
                    <td>{{ el.warehouse_name }}</td>
                    <td>{{ el.nmid }}</td>
                    <td>{{ el.status }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>    
{% endblock %}
