{% extends 'main/index.html' %}


{% block title %}Скорость недельных продаж{% endblock %}

{% block content %}
{% load data_filter %}

<div class="features">
    <div class="top-befor-header">
       <h1>Продажи по неделям артикула {{ articles.0.supplier_article }}</h1>
    </div>
    
    <div class="alert alert-warninng">
      <div class="charts_sales_by_week">
        <div class='chart_sales_by_week'>
          <canvas id="acquisitions" width="580" height="300"></canvas>
          <script>
            function getGradient(ctx, chartArea) {
              let gradient = ctx.createLinearGradient(
                  0,
                  chartArea.bottom,
                  0,
                  chartArea.top
                );
                gradient.addColorStop(0.9, "rgba(115, 128, 236, 0.6)");
                gradient.addColorStop(0, "rgba(191, 198, 255, 0.6)");
                return gradient;
            }
            function getGradient2(ctx, chartArea) {
              let gradient = ctx.createLinearGradient(
                0,
                chartArea.bottom,
                0,
                chartArea.top
              );
              gradient.addColorStop(0.9, "rgba(255, 119, 130, 0.6)");
              gradient.addColorStop(0, "rgba(255, 179, 185, 0.6)");
              return gradient;
            }
            (async function() {
              new Chart(
                document.getElementById('acquisitions'),
                {
                  type: 'line',
                  data: {
                    labels: [{% for week in unique_week %} '{{ week }}', {% endfor %}],
                    datasets: [
                      {
                        label: 'Количество продаж {{ articles.0.supplier_article }}',
                        data: [{% for article, value in data.items %}{% for week in unique_week %}{% for date, amount in value.items %}{% if date == week  %} {{ amount }}, {% endif %}{% endfor %}{% endfor %}{% endfor %}],
                        lineTension: 0.3,
                        fill: true,
                        backgroundColor: function (context) {
                          const chart = context.chart;
                          const { ctx, chartArea } = chart;
                          // This case happens on initial chart load
                          if (!chartArea) return;
                          return getGradient2(ctx, chartArea);
                        }
                      },
                    ]
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            labels: {
                                // This more specific font property overrides the global property
                                font: {
                                  size: 14,
                                  family: "'Open Sans', 'Arial', 'sans-serif'"
                                }
                            }
                        }
                    }
                  }
                }
              );
            })();
          </script>
        </div>
      </div>
    </div>
    
    <table name="mytable" class="sortable" style="white-space: nowrap">
      <thead>
        <tr>
          <th>Supplier article</th>
          <th>Barcode</th>
          {% for week in unique_week %}
            <th>{{ week }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for article, value in data.items %}
          <tr>
            <td>{{ article.0 }}</td>
            <td>{{ article.1 }}</td>
            {% for week in unique_week %}
              {% for date, amount in value.items %}
                {% if date == week  %}
                    <td>{{ amount }}</td>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <p>{{warehouses}}</p>
    <h2>Продажи по складам</h2>
    <table name="mytable" class="sortable" style="white-space: nowrap">
      <thead>
        <tr>
          <th>Название склада</th>
          {% for week in unique_week %}
            <th>{{ week }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for warehouse in warehouses_list %}
          <tr>
            <td>{{ warehouse }}</td>
            {% for week in unique_week %}
              {% for warehouse_name, amount in warehouses_data.items %}
                {% for data, quantity in amount.items %}
              
                  {% if warehouse == warehouse_name and week == data %}
                    <td>{{quantity}}</td>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>    
{% endblock %}
