{% extends 'main/index.html' %}


{% block title %}Статистика остатков Сайт{% endblock %}

{% block content %}
    <div class="features">
        <div class="top-befor-header">
            <h1>Статистика остатков Сайт</h1>
        </div>
        <div class='filter-data'>
            <form action="" class="big-filter-form" method="POST" id="ytr">
                {% csrf_token %}
                <div class="inner-form-data">
                    <span>От</span><br>
                    <input type="date" name="datestart" class="choose-date" required="" id="datestart">
                </div>
                <div class="inner-form-data">
                    <span>До</span><br>
                    <input type="date" name="datefinish" class="choose-date" required="" id="datefinish">
                </div>
                <div class="inner-form-data">
                    <span>Фильтр по Артикулу</span><br>
                    <input type="text"  name="article_filter" class="choose-date" id="article_filter">
                </div>
                <div class="inner-form-data">
                    <span>Фильтр по складу</span><br>
                    <input type="text"  name="stock_filter" class="choose-date" id="stock_filter">
                </div>
                <div class="inner-form-data">
                    <br>
                    <input type="Submit" id="filter" name="submit" value="Фильтровать" class="custom-button-change"/>
                </div>
            </form>
        </div>
        <div class="table_wrapper">
            <table name="mytable" class="sortable" style="white-space: nowrap">
                <tr>
                    <th>Дата</th>
                    <th>Артикул продавца</th>
                    <th>Номенклатура WB</th>
                    <th>Название склада</th>
                    <th>Количество</th>
                    <th>priceU</th>
                    <th>basicSale</th>
                    <th>basicPriceU</th>
                    <th>Скидка</th>
                    <th>salePriceU</th>
                    <th>Название</th>
                    <th>promotions</th>
                    <th>Рейтинг</th>
                    <th>Кол-во отзывов</th>
                </tr>
                {% for el in data %}   
                <tr>
                    <td>{{ el.pub_date }}</td>
                    <td><a href="{% url 'stock_site_detail' el.nomenclatura_wb %}">{{ el.seller_article }}</a></td>
                    <td>{{ el.nomenclatura_wb }}</td>
                    <td>{{ el.warehouse }}</td>
                    <td>{{ el.quantity }}</td>
                    <td>{{ el.price_u }}</td>
                    <td>{{ el.basic_sale }}</td>
                    <td>{{ el.basic_price_u }}</td>
                    <td>{{ el.sale }}</td>
                    <td>{{ el.sale_price_u }}</td>
                    <td>{{ el.name }}</td>
                    <td>{{ el.promotions }}</td>
                    <td>{{ el.review_rating }}</td>
                    <td>{{ el.feedbacks }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
	</div>
{% endblock %}