{% extends 'main/index.html' %}


{% block title%}Добавить заявку{% endblock %}

{% block content%}

    <div class="features">
        
        <h1>Добавить заявку</h1>
        <div class="main-form-create-payment">
            <form method="post" name="payments" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    <label for="project"><span>{{form.project.label}}</span>{{ form.project }}</label>
                    <label for="category"><span>{{form.category.label}}</span>{{ form.category }}</label>
                    <label for="payment_sum"><span>{{form.payment_sum.label}}</span>{{ form.payment_sum }}</label>
                    <label for="comment"><span>{{form.comment.label}}</span>{{ form.comment }}</label>
                    <label for="contractor_name"><span>{{form.contractor_name.label}}</span>
                        {{ form.contractor_name }} <br>
                        <input type="text" name="contractor_name_new">
                    </label>
                    <label for="urgent_payment"><span>{{form.urgent_payment.label}} </span>{{ form.urgent_payment }}</label>
                    <label for="send_payment_file"><span>{{form.send_payment_file.label}}</span>{{form.send_payment_file}}</label>
                    
                    <label for="payment_method"><span>{{form.payment_method.label}}</span>{{ form.payment_method }}</label>
                </fieldset>

                <fieldset id="pay_with_checking_account" style="display: none;">
                    <label for="file_of_bill"><span>{{form_pay_account.file_of_bill.label}}</span>
                        <span><label for="id_file_of_bill" class="choose-file-button">Выберете файл</label>
                        <div class="input-file-list-create" id="input-file-list-create"></div></span>
                        {{ form_pay_account.file_of_bill }}
                    </label>
                </fieldset>
                        
                <fieldset id="pay_with_card" style="display: none;">
                    <label for="link_to_payment">
                        <span>{{form_pay_with_card.link_to_payment.label}}</span>
                        {{form_pay_with_card.link_to_payment}}
                    </label>
                </fieldset>

                <fieldset id="transfer_to_card" style="display: none;">
                    <label for="card_number"><span>{{form_transfer_to_card.card_number.label}}</span>
                        {{form_transfer_to_card.card_number}}
                    </label>
                    <!-- {% if form_transfer_to_card.errors.card_number %}
                        <div class="alert alert-danger">
                            {{ form_transfer_to_card.errors.card_number }}
                        </div>
                    {% endif %} -->
                    <label for="phone_number"><span>{{form_transfer_to_card.phone_number.label}}</span>
                        {{form_transfer_to_card.phone_number}}
                    </label>
                    <label for="bank_for_payment"><span>{{form_transfer_to_card.bank_for_payment.label}}</span>
                        {{form_transfer_to_card.bank_for_payment}}
                    </label>
                    <label for="payment_receiver"><span>{{form_transfer_to_card.payment_receiver.label}}</span>
                        {{form_transfer_to_card.payment_receiver}}
                    </label>   
                </fieldset>

                <fieldset id="cash_payment" style="display: none;">
                    <label for="cash_payment_payment_data"><span>{{form_cash_payment.cash_payment_payment_data.label}}</span>
                        {{form_cash_payment.cash_payment_payment_data}}
                    </label>
                </fieldset>

                <span>{{ error }}</span>
                <button class="custom-button" type="submit" id="id_first" name="name_first">Создать заявку</button>
            </form>
        </div>
        <script>
            document.getElementById('id_card_number').addEventListener('input', function (e) {
                var value = e.target.value.replace(/\D/g, '').replace(/(.{4})/g, '$1 ');
                e.target.value = value.trim();
            });

            // function formatPhoneNumber(phoneNumberString) {
            //   var cleaned = ('' + phoneNumberString).replace(/\D/g, '');
            //   var match = cleaned.match(/^7(\d{3})(\d{3})(\d{2})(\d{2})$/);
            //   if (match) {
            //     return '+7(' + match[1] + ') ' + match[2] + ' ' + match[3] + ' ' + match[4];
            //   }
            //   return null;
            // }

            // document.getElementById('id_phone_number').addEventListener('change', function(e) {
            //   e.target.value = formatPhoneNumber(e.target.value);
            // });
            const fileInput = document.getElementById('id_file_of_bill');
            const filePlace = document.getElementById('input-file-list-create');
      
            fileInput.addEventListener('change', (event) => {
            const fileName = event.target.files[0].name;
            filePlace.textContent = fileName;
            });
        </script>
    </div>
{% endblock %} 