{% extends 'main/index.html' %}


{% block title%}Добавить заявку{% endblock %}

{% block content%}
    <div class="features">
        <h1>Детали счета № {{ payments.id }}</h1>
        <table style="overflow-x: scroll; display: block; width: 100%;">
            <tr>
                <th>ID заявки</th>
                <th>Дата создания</th>
                <th>Создатель заявки</th>
                <th>Название проекта</th>
                <th>Название категории</th>
                <th>Способ оплаты</th>
                <th>Плательщик</th>
                <th>Организация плательщик</th>
                <th>Название организации получателя</th>
                <th>Номер счета организации получателя</th>
                <th>БИК банка организации получателя</th>
                <th>Файл счета</th>
                <th>Сумма платежа</th>
                <th>Комментарий к платежу</th>
                <th>Присылать платежку после оплаты</th>
                <th>Файл платёжки</th>
                <th>Срочный платеж</th>
                <th>Статус заявки</th>
                <th>Дата и время оплаты</th>
                <th>Произвел оплату</th>
                <th>Причина отклонения</th>
            </tr>
            <tr>                        
                <td>{{ payments.id }}</td>
                <td>{{ payments.pub_date }}</td>
                <td>{{ payments.creator }}</td>
                <td>{{ payments.project }}</td>
                <td>{{ payments.category }}</td>
                <td>{{ payments.payment_method }}</td>
                  
                <td>{{ second_model_data.payer }}</td>
                <td>{{ second_model_data.payer_organization }}</td>
                <td>{{ second_model_data.contractor_name }}</td>
                <td>{{ second_model_data.contractor_bill_number }}</td>
                <td>{{ second_model_data.contractor_bik_of_bank }}</td>                    
                <td><a href="{{ second_model_data.file_of_bill.url }}" download>{{ second_model_data.file_of_bill }}</a></td>

                <td>{{ payments.payment_sum }}</td>
                <td>{{ payments.comment }}</td>
                <td>{{ payments.send_payment_file }}</td>
                <td>{{ payments.file_of_payment }}</td>
                <td>{{ payments.urgent_payment }}</td>
                <td>{{ payments.status_of_payment }}</td>
                <td>{{ payments.date_of_payment }}</td>
                <td>{{ payments.accountant }}</td>
                <td>{{ payments.rejection_reason }}</td>
            </tr>
        </table>
        {% if payments.creator == user.username %}
            <div class="creator-buttons">
                
                <div class="reduct-buttons">
                    <form method="post" name="payments_detail_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button class="custom-button-delete" type="submit" name="cancel_payment">Отменить</button>
                        <button class="custom-button" type="submit" name="pay_payment">Оплатить</button>
                    </form>
                </div>
                <a href="{% url 'payment_update' payments.id %}">
                    <button class="custom-button-change">
                       Редактировать
                    </button>
                </a>
            </div>
        {% endif %}
        {% if payments.creator != user.username and user.groups.first.name != 'accountant' %}
            <div class="creator-buttons" id="but">
                <div class="reduct-buttons">
                    <form method="post" class="form-buttons" name="payments_detail_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button class="custom-button-success" type="submit" name="approve_payment" id="approve_payment_button_id">Согласовать</button>
                        <button class="custom-button" type="submit" name="pay_payment" id="pay_payment_button_id">Оплатить</button>
                    </form>
                    <button id="popup-button" class="custom-button-delete" name="reject_payment_button">Отклонить</button>
                </div>
            </div>
        {% endif %}
        {% if payments.creator != user.username and user.groups.first.name == 'accountant' %}
            <div class="creator-buttons">
                <div class="reduct-buttons">
                    <form method="post" class="form-buttons" name="payments_detail_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button class="custom-button-delete" type="submit" name="reject_payment">Отклонить</button>
                        <button class="custom-button" type="submit" name="pay_payment">Оплатить</button>
                    </form>
                </div>
            </div>
        {% endif %}

        <div id="popup-container" style="display:none;">        
          <form method="post" class="reject_payment_class" name="form_reject_payment_name" enctype="multipart/form-data">
            {% csrf_token %} 
            <span class="material-symbols-sharp" onclick="closePopup()" id="popup-icon_close">close</span>
            <br>
            <label for="popup-input">Введите причины, по которой отклонили заявку:</label>
            <textarea class="form-control" type="text" id="popup-input" name="popup-input-name"></textarea>
            <button class="custom-button" type="submit" id="reject_payment_id" name="reject_payment">Сохранить</button>
          </form>
        </div>
    </div> 

{% endblock %} 