{% extends 'main/index.html' %}


{% block title%}Добавить заявку{% endblock %}

{% block content%}
    <div class="features">
        <h1>Статистика оплат по расчетному счету</h1>
        <table style="overflow-x: scroll; display: block; width: 100%;" name="mytable">
            <tr>
                <th>ID заявки</th>
                <th>Дата создания</th>
                <th>Создатель заявки</th>
                <th>Название проекта</th>
                <th>Название категории</th>
                <th>Способ оплаты</th>
                <th>Плательщик</th>
                <th>Организация плательщик</th>
                <th>Название организации получателя</th>
                <th>Номер счета организации получателя</th>
                <th>БИК банка организации получателя</th>
                <th>Файл счета</th>
                <th>Сумма платежа</th>
                <th>Комментарий к платежу</th>
                <th>Присылать платежку после оплаты</th>
                <th>Файл платёжки</th>
                <th>Срочный платеж</th>
                <th>Статус заявки</th>
                <th>Дата и время оплаты</th>
                <th>Произвел оплату</th>
                
            </tr>
            
            {% for el in payments %}
                {% for dat in pay_account %}
                    <tr>
                        {% if el.id == dat.payment_id_id %}
                        
                        <td><a href="{% url 'payment_detail' el.id %}">{{ el.id }}</a></td>
                        <td>{{ el.pub_date }}</td>
                        <td>{{ el.creator }}</td>
                        <td>{{ el.project }}</td>
                        <td>{{ el.category }}</td>
                        <td>{{ el.payment_method }}</td>
                    
                    
                        <td>{{ dat.payer }}</td>
                        <td>{{ dat.payer_organization }}</td>
                        <td>{{ dat.contractor_name }}</td>
                        <td>{{ dat.contractor_bill_number }}</td>
                        <td>{{ dat.contractor_bik_of_bank }}</td>                    
                        <td><a href="{{ dat.file_of_bill.url }}" download>{{ dat.file_of_bill }}</a></td>


                        <td>{{ el.payment_sum }}</td>
                        <td>{{ el.comment }}</td>
                        <td>{{ el.send_payment_file }}</td>
                        <td>{{ el.file_of_payment }}</td>
                        <td>{{ el.urgent_payment }}</td>
                        <td>{{ el.status_of_payment }}</td>
                        <td>{{ el.date_of_payment }}</td>
                        <td>{{ el.accountant }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        
    </div>    
        
{% endblock %} 