{% extends 'main/index.html' %}


{% block title%}Статистика переводов по карте{% endblock %}

{% block content%}
    <div class="features">
        <h1>Статистика переводов по карте</h1>
        <table style="overflow-x: scroll; display: block; width: 100%;">
            <tr>
                <th>ID заявки</th>
                <th>Дата создания</th>
                <th>Создатель заявки</th>
                <th>Название проекта</th>
                <th>Название категории</th>
                <th>Способ оплаты</th>

                <th>Номер карты</th>
                <th>Номер телефона</th>
                <th>Получатель платежа</th>
                <th>Банк для платежа</th>

                <th>Сумма платежа</th>
                <th>Комментарий к платежу</th>
                <th>Присылать платежку после оплаты</th>
                <th>Файл платёжки</th>
                <th>Срочный платеж</th>
                <th>Статус заявки</th>
                <th>Дата и время оплаты</th>
                <th>Произвел оплату</th>
                
            </tr>
            
            {% for el in payments %}
                {% for dat in transfer_to_card %}
                    <tr>
                        {% if el.id == dat.payment_id_id %}
                        
                        <td><a href="{% url 'payment_update' el.id %}">{{ el.id }}</a></td>
                        <td>{{ el.pub_date }}</td>
                        <td>{{ el.creator }}</td>
                        <td>{{ el.project }}</td>
                        <td>{{ el.category }}</td>
                        <td>{{ el.payment_method }}</td>

                        <td>{{ dat.card_number }}</td>
                        <td>{{ dat.phone_number }}</td>
                        <td>{{ dat.payment_receiver }}</td>
                        <td>{{ dat.bank_for_payment }}</td>

                        <td>{{ el.payment_sum }}</td>
                        <td>{{ el.comment }}</td>
                        <td>{{ el.send_payment_file }}</td>
                        <td>{{ el.file_of_payment }}</td>
                        <td>{{ el.urgent_payment }}</td>
                        <td>{{ el.status_of_payment }}</td>
                        <td>{{ el.date_of_payment }}</td>
                        <td>{{ el.accountant }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        
    </div>    
        
{% endblock %} 