{% extends 'main/index.html' %}


{% block title%}Детали счета № {{ payments.id }}{% endblock %}

{% block content%}
    <div class="features">
        <h1>Детали счета № {{ payments.id }}</h1>
        <table style="overflow-x: scroll; display: block; width: 100%;">
            <tr>
                <th>ID заявки</th>
                <th>Дата создания</th>
                <th>Создатель заявки</th>
                <th>Название проекта</th>
                <th>Название категории</th>
                <th>Способ оплаты</th>

                <th>Номер карты</th>
                <th>Номер телефона</th>
                <th>Получатель платежа</th>
                <th>Банк для платежа</th>

                <th>Сумма платежа</th>
                <th>Комментарий к платежу</th>
                <th>Присылать платежку после оплаты</th>
                <th>Файл платёжки</th>
                <th>Срочный платеж</th>
                <th>Статус заявки</th>
                <th>Дата и время оплаты</th>
                <th>Произвел оплату</th>
                <th>Причина отклонения</th>
            </tr>
            <tr>                        
                <td>{{ payments.id }}</td>
                <td>{{ payments.pub_date }}</td>
                <td>{{ payments.creator }}</td>
                <td>{{ payments.project }}</td>
                <td>{{ payments.category }}</td>
                <td>{{ payments.payment_method }}</td>
                
                <td>{{ second_model_data.card_number }}</td>
                <td>{{ second_model_data.phone_number }}</td>
                <td>{{ second_model_data.payment_receiver }}</td>
                <td>{{ second_model_data.bank_for_payment }}</td>

                <td>{{ payments.payment_sum }}</td>
                <td>{{ payments.comment }}</td>
                <td>{{ payments.send_payment_file }}</td>
                {% if payments.send_payment_file == True %}
                    <td class="form-paymentfile">
                        <form method="post" class="form-paymentfile" name="payments_detail_form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p class="input_file">{{ form.file_of_payment }}</p>
                            <div class="input-file-row"></div>
                                <input name="file" type="file" id="file-input" class="input-file">
                                <label for="id_file_of_payment" id="file-label" class="file-label">
                                    <span class="material-symbols-outlined" id="material-symbols-outlined">upload</span>
                                </label>
                                <div class="input-file-list" id="input-file-list"></div>   
                            </div>
                            
                            <button type="submit" class="table-button">Сохранить</button>
                        </form>
                    </td>
                {% elif payments.send_payment_file == False %}
                    <td>{{ payments.file_of_payment }}</td>
                {% endif %}
                    <td>{{ payments.urgent_payment }}</td>
                <td>{{ payments.status_of_payment }}</td>
                <td>{{ payments.date_of_payment }}</td>
                <td>{{ payments.accountant }}</td>
                <td>{{ payments.rejection_reason }}</td>
            </tr>
        </table>
        {% if payments.creator == user.username %}
            <div class="creator-buttons">
                <div class="reduct-buttons">
                    <form method="post" class="form-buttons" name="payments_detail_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button class="custom-button-delete" type="submit" name="cancel_payment">Отменить</button>
                        <button class="custom-button" type="submit" name="pay_payment">Оплатить</button>
                    </form>
                </div>
                <a href="{% url 'transfer_card_update' payments.id %}">
                    <button class="custom-button-change">
                       Редактировать
                    </button>
                </a>
            </div>
        {% endif %}
        {% if payments.creator != user.username and user.groups.first.name != 'accountant' %}
            <div class="creator-buttons" id="but">
                <div class="reduct-buttons">
                    <form method="post" class="form-buttons" name="payments_detail_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button class="custom-button-success" type="submit" name="approve_payment" id="approve_payment_button_id">Согласовать</button>
                        <button class="custom-button" type="submit" name="pay_payment" id="pay_payment_button_id">Оплатить</button>
                    </form>
                    <button id="popup-button" class="custom-button-delete" name="reject_payment_button">Отклонить</button>
                </div>
            </div>
        {% endif %}
        {% if payments.creator != user.username and user.groups.first.name == 'accountant' %}
            <div class="creator-buttons">
                <div class="reduct-buttons">
                    <form method="post" class="form-buttons" name="payments_detail_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button class="custom-button-delete" type="submit" name="reject_payment">Отклонить</button>
                        <button class="custom-button" type="submit" name="pay_payment">Оплатить</button>
                    </form>
                </div>
            </div>
        {% endif %}

        <div id="popup-container" style="display:none;">        
          <form method="post" class="reject_payment_class" name="form_reject_payment_name" enctype="multipart/form-data">
            {% csrf_token %} 
            <span class="material-symbols-sharp" onclick="closePopup()" id="popup-icon_close">close</span>
            <br>
            <label for="popup-input">Введите причины, по которой отклонили заявку:</label>
            <textarea class="form-control" type="text" id="popup-input" name="popup-input-name"></textarea>
            <button class="custom-button" type="submit" id="reject_payment_id" name="reject_payment">Сохранить</button>
          </form>
        </div>

        <div id="error-popup-container" class="error-popup-container" style="display:none;">        
            <span class="material-symbols-sharp" onclick="closePopup()" id="popup-icon_close">close</span>
            <br>
            <h2 id="error_payment_file">{{ error_payment_file }}</h2>
            <p>В заявке указано, что необходимо предоставить файл об оплате</p>
        </div>

        <div>
            <p id="error_payment_file" style="display:none;">{{ error_payment_file }}</p>
        </div>

    </div>


    <script>
        const fileInput = document.getElementById('id_file_of_payment');
        const filePlace = document.getElementById('input-file-list');
      
        fileInput.addEventListener('change', (event) => {
          const fileName = event.target.files[0].name;
          filePlace.textContent = fileName;
        });
        

        var errorPopupContainer = document.getElementById('error-popup-container');
        var error_container = document.getElementById("error_payment_file");

        // При клике на кнопку открываем pop up окно
        if (error_container.innerHTML.trim() == ""){
            console.error('Братюня нет проблем'); 
        } else {
            errorPopupContainer.style.display = 'block';
            function closePopup() {
                document.getElementById("error-popup-container").style.display = "none";
            }
        }

        
        if(error_container.innerHTML.trim() == ""){
        // контейнер пустой
        console.log('ошибки нет');
        } else {
        // контейнер не пустой
        console.log('сильвупле ёпта. Загрузи платежку');
        }
    </script>


{% endblock %} 