{% extends 'main/index.html' %}


{% block title%}Добавить заявку{% endblock %}

{% block content%}
    <div class="features">
        <h1>Статистика заявок</h1>
        <table style="overflow-x: scroll; display: block; width: 100%;">
            <tr>
                <th>ID заявки</th>
                <th>Дата создания</th>
                <th>Создатель заявки</th>
                <th>Название проекта</th>
                <th>Название категории</th>
                <th>Способ оплаты</th>
                <th>Плательщик</th>
                <th>Организация плательщик</th>
                <th>Название организации получателя</th>
                <th>Номер счета организации получателя</th>
                <th>БИК банка организации получателя</th>
                <th>Файл счета</th>
                <th>Сумма платежа</th>
                <th>Комментарий к платежу</th>
                <th>Присылать платежку после оплаты</th>
                <th>Файл платёжки</th>
                <th>Срочный платеж</th>
                <th>Статус заявки</th>
                <th>Дата и время оплаты</th>
                <th>Произвел оплату</th>
                
            </tr>
            {% for el in data %}   
            <tr>
                <td><a href="{% url 'payment_update' el.id %}">{{ el.id }}</a></td>
                <td>{{ el.pub_date }}</td>
                <td>{{ el.creator }}</td>
                <td>{{ el.project }}</td>
                <td>{{ el.category }}</td>
                <td>{{ el.payment_method }}</td>
                {#<td>{{ el.payer }}</td>#}
                {#<td>{{ el.payer_organization }}</td>#}
                {#<td>{{ el.contractor_name }}</td>#}
                {#<td>{{ el.contractor_bill_number }}</td>#}
                {#<td>{{ el.contractor_bik_of_bank }}</td>#}
                {#<td>{{ el.file_of_bill }}</td>#}
                {#<td>{{ el.payment_sum }}</td>#}
                {#<td>{{ el.comment }}</td>#}
                {#<td>{{ el.send_payment_file }}</td>#}
                {#<td>{{ el.file_of_payment }}</td>#}
                {#<td>{{ el.urgent_payment }}</td>#}
                {#<td>{{ el.status_of_payment }}</td>#}
                {#<td>{{ el.date_of_payment }}</td>#}
                {#<td>{{ el.accountant }}</td>#}
            </tr>
            {% endfor %}
        </table>
        
    </div>    
        
{% endblock %} 