{% extends 'main/index.html' %}


{% block title%}Редактировать заявку{% endblock %}

{% block content%}

    <div class="features">
        <h1>Редактировать заявку</h1>
        <div class="table">
            <form method="post" name="payments" enctype="multipart/form-data">
                {% csrf_token %}
                <label>{{form.project.label}}</label><p class="form-control" name="project_select">{{ form.project }}</p> <br>
                <label>{{form.category.label}}</label><p class="form-control" id="category_select" name="category_select">{{ form.category }}</p> <br>
                <label>{{form.payment_method.label}}</label><p class="form-control">{{ form.payment_method }}</p><br>
                    
                    <label>{{second_form.payer.label}}</label><p class="form-control">{{second_form.payer}}</p><br>
                    <label>{{second_form.with_card_payer_organization.label}}</label><p class="form-control">{{second_form.with_card_payer_organization}}</p><br>
                    <label>{{second_form.link_to_payment.label}}</label>{{second_form.link_to_payment}}<br>
           

                <div id="pay_with_card" style="display: none;">
                    <label>{{form_pay_with_card.payer.label}}</label><p class="form-control">{{form_pay_with_card.payer}}</p><br>
                    <label>{{form_pay_with_card.with_card_payer_organization.label}}</label><p class="form-control">{{form_pay_with_card.with_card_payer_organization}}</p><br>
                    <label>{{form_pay_with_card.link_to_payment.label}}</label>{{form_pay_with_card.link_to_payment}}<br>
                </div>

                <div id="transfer_to_card" style="display: none;">
                    <label>{{form_transfer_to_card.card_number.label}}</label>{{form_transfer_to_card.card_number}}<br>
                    <label>{{form_transfer_to_card.phone_number.label}}</label>{{form_transfer_to_card.phone_number}}<br>
                    <label>{{form_transfer_to_card.payment_receiver.label}}</label>{{form_transfer_to_card.payment_receiver}}<br>
                    <label>{{form_transfer_to_card.bank_for_payment.label}}</label>{{form_transfer_to_card.bank_for_payment}}<br>
                </div>

                <div id="cash_payment" style="display: none;">
                    <p>{{form_cash_payment.cash_payment_payment_receiver.label}}</label>{{form_cash_payment.cash_payment_payment_receiver}}<br>   
                </div>

                <label>{{form.payment_sum.label}}</label>{{ form.payment_sum }} <br>
                <label>{{form.comment.label}}</label>{{ form.comment }} <br>
                <label>{{form.send_payment_file}} {{form.send_payment_file.label}}</label><br>
                <label>{{form.file_of_payment.label}}</label>{{ form.file_of_payment }} <br>
                <label>{{ form.urgent_payment }} {{form.urgent_payment.label}}</label><br>

                <span>{{ error }}</span>

                <button class="custom-button" type="submit" id="id_first" name="name_first">Сохранить</button>
            </form>

        </div>
        
    </div>
{% endblock %} 